body {
   /*
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    */
    /*width: 80%;
    margin: auto;*/
    font: 15px/1.5 Arial, Helvetica, sans-serif;
   

}
.container {
    width: 80%;
    margin:auto;
    
    overflow: hidden;

}
.button1 {
    height: 31px;
    background: brown;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.shade {
    color: white;
    background-color:grey;
    padding:15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background-color:#354224;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: orange 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
    
    
#branding h1,
#branding li {
    display: inline;
    vertical-align: top;
}

/*
showcase
*/
.showcase {
    min-height: 400px;
}

header ul {

    margin: 0;
    padding: 0;
    
}

header li {
    /*
    float:left;
    */
    display: inline;
    padding: 0 10px 0 10px;
};
header #branding {
    float: left;
}

header #branding h1 {
    margin:0;
    
}
header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: brown;
    font-weight: bold;
}

header a:hover {
    color: cyan;
    font-weight: bold;
}
/*
showcase
*/
#showcase {
    min-height: 100px;
    background: url("../image/showcase.jpg") 0 0;
    /*
    background: url("../image/showcase.jpg") no -repeat 0 0;
    */
    text-align:  center;
    color: orange;
}

#showcase h1 {
    font-size: 25px;
}

#showcase p {
    font-size: 12px;
}

/*
newsletter
*/
#newsletter {
    padding: 25px;
    color:white;
    background: #354224;

}
#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 25px;
}

#newsletter  h1 , #newsletter  form {
    display: inline;
    
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 20px;
    width: 250px;
}
/*
boxes
*/
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 32%;
    padding-right: 10px;

}

#boxes .box img {
    width: 100px;
}

/*
home.html
*/
aside {
    float: right;
    width: 33%;
}
#main-col
{
    width:62%;
    float:left;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width:90%;
    padding:5px;

}
/*
#main-col , aside {

    display: inline;
    vertical-align: top;
    
}
*/
/*
services
*/
#services-title {
    padding-left: 40px;
}
ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
        
}

@media(max-width: 768px) {
    /*body {
        width: 100%;
    }*/
    header #branding
    header nav,
    header nav li
    #newsletter h1,
    #newsletter form 
    #boxes .box
    article#main-col 
    aside#sidebar
     {
        float: none;
        text-align: center;
        width:100%;
    }
    header {
        padding-bottom:  20px;
    }
    #showcase h1 {
        margin-top:  2px;
    }
    #newsletter button , .quote button{
        display:block;
        width: 100%;
    }
    #newsletter form input[type="email"], .quote input , .quote textarea {
        width: 100%;
        margin-bottom: 5px;

    }
}

footer {
    padding : 5px;
    margin-top: 5px;
    color: white;
    background-color: #e8491d;
    text-align: center;
    
}